@use '../abstracts/index' as *;

* {
    font-family: $font-family;
}

header {
    @media only screen and (min-width: $break-xs) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
        text-align: center;
        background-color: $white;
        .top-navigation {
            background-color: $green;
            font-family: $font-family;
            }
        .top-navigation h1 {
            color: $white;
            text-decoration: none;
            }
        .top-navigation #initials {
            display: none;
            }
        }
        .navigation li:hover {
            background-color: $darkgreen;
            color: $white;
        }
        .social {
            margin-top: 1px;
            margin-bottom: 20px;
        }

    @media only screen and (min-width: $break-m){
        position: fixed;
        width: 200px;
        height: 100%;
        border-right: 3px solid $green;
        .top-navigation h1 {
            display: none;
        }
        .top-navigation #initials {
            display: block;
            font-family: $font-family;
            font-size: 110px;
            font-weight: 700;
            background-color: $white;
            color: $green;
            padding: 10px;
            border-bottom: 3px solid $green;
            text-align: center;
        }
    }

    .main-navigation {
        font-family: $font-family;
        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-inline-start: 0;
        }
        
    }
    .navigation li {
        list-style-type: none;
        font-family: $font-family;
        text-align: center;
        font-size: 1.5rem;
    }
    a {
        color: $white;
        text-decoration: none;
    }
    .nav-link {
        color: $dark;
    }

    .nav-link:hover {
        color: $white;
    }
    .social a i {
        color: $green;
        text-align: center;
        font-size: 1.8rem;
        padding: 5%;
    }
}

