@use '../abstracts/index' as *;

body {
    @media only screen and (min-width: $break-xs) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: $dark;
    }
    @media only screen and (min-width: $break-m) {
        flex-direction: row;
    }
}

header {
    @media only screen and (min-width: $break-xs) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
        text-align: center;
        background-color: $white;
        .top-navigation {
            background-color: $green;
            font-family: $font-family;
            }
        .top-navigation h1 {
            color: $white;
            }
        .top-navigation #initials {
            display: none;
            }
        }
        .navigation li:hover {
            background-color: $darkgreen;
            color: $white;
        }

    @media only screen and (min-width: $break-m){
        position: fixed;
        width: 200px;
        height: 100%;
        border-radius: 3px solid $green;
        border-right: 3px solid $green;
        .top-navigation h1 {
            display: none;
        }
        .top-navigation #initials {
            display: block;
            font-family: $font-family;
            font-size: 110px;
            font-weight: 700;
            background-color: $white;
            color: $green;
            padding: 10px;
            border-bottom: 3px solid $green;
            text-align: center;
            text-decoration: none;
        }
        // .navigation li:hover {
        //     border-bottom: 3px solid $green;
        // }
    }

    .main-navigation {
        font-family: $font-family;
        
    }
    .navigation li {
        list-style-type: none;
        font-family: $font-family;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        color: $dark;
    }
}

