@use '../abstracts/index' as *;

* {
    h2 {
        text-align: center;
        color: $white;
        font-weight: 500;
    }
}
#portfolio .container h2 {
    color: $dark;
}
// portfolio resources
.resources {
    background-color: white!important;
    color: $green!important;
    font-size: 0.9rem!important;
    text-align: left!important;
    padding: 0!important;
}
.resources:hover {
    color: $darkgreen!important;
}
// hover for anchors and buttons
.contact_form form button:hover, .container a:hover {
    background: $darkgreen;
    color: $white;
}                                           
main { 
    position: relative;
    @media only screen and (min-width: $break-xs){
        flex: 1;
        .hero {
            display: flex;
            flex-direction: row;
//main page hero index.html
            .hero_image_container {
                background-image: linear-gradient(rgba(0 0 0 / 78%),rgba(0 0 0 / 69%)), url(../img/office-office.jpg);
                background-color: $grey;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 15em;
                width: 100%;
                position: relative;
            }

            .hero_text h1, h3 {
                list-style-type: none;
                font-family: $font-family;
                text-align: center;
                text-decoration: none;
                color: $white;
                margin: 3%;
            }
        }
//main page portfolio index.html
            #portfolio {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;

            }
            #portfolio .container {
                padding: 0 10px;
                margin: 25px;
                padding: 20px;
                box-shadow: 0 0 0.5rem rgb(112, 112, 112);
            }
            .container a {
                text-align: center;
                text-decoration: none;
                background-color: $green;
                color: white;
                margin: 10px 5px;
                padding: 5px;
                border-radius: 2px;
                font-size: 1.1rem;
                position: relative;
                display: block;
            }
            .container .soon {
                width: 100%;
                height: auto;
            }
// contact form for all screens
            #contact {
                margin-top: 50px;
            }
            #contact form {
                // display: flex;
                flex-direction: column;
                padding: 30px;
                max-width: 576px;
                margin: 0% auto;
            }
            #contact .contact_text h2 {
                color: $dark;
            }
            #contact .contact_text li {
                text-align: center;
                list-style-type: none;
                color: $dark;
                margin: 8px;
                font-size: 1.3rem;
            }
            #contact .contact_text a {
                text-decoration: none;
                color: $darkgreen;
                font-size: 1.5rem;
                word-break: break-all;
            }
            #contact .contact_text a:hover {
                color: $darkgreen;
            }
            .input-group {
                width: 100%;
                align-items: center;
                justify-content: center;
                margin: 10px;
                position: relative;
            }
            form input:focus {
                outline: none;
            }   
            label {
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
            }
            .asterisk {
                color: red;
                font-size: 20px;
                display: contents;
            }
            .hide {
            opacity: 0;
            } 
            .contact_form form input, textarea {
                padding: 14px;
                margin-bottom: 15px;
                flex-basis: 100%;
                border-radius: 5px;
                outline: 0;
                background-color: $grey;
                font-size: 0.9rem;
                border: 1px solid $darkgrey;
                width: 95%;
                position: relative;
            }
            .contact_form form button {
                background: $green;
                border: 2px solid $darkgreen;
                color: $white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 18px;
                cursor: pointer;
                margin: 0 40%;
                border-radius: 5px;
            }
            .contact_form #success-message {
                color: $green;
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 10px;
            }

            //style for error messages and success icons.
            .input-group span {
                position: absolute;
                bottom: 20px;
                right: 17px;
                font-size: 14px;
                color: red;
            }
            #submit-error {
                color: red;
                font-size: 1.2rem;
                margin: 15px 0 0;
            }
            span .fa-solid, .fas {
                color: seagreen;
                font-size: 1.2rem;
            }
//about me page
        .about_img_container {
            background-image: linear-gradient(rgba(0 0 0 / 78%),rgba(0 0 0 / 69%)), url(../img/Developer_image.jpg);
            background-color: $grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 15em;
            width: 100%;
            position: relative;
        }
        .about_container h1, p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10%;
            padding-left: 10%;
            margin-bottom: 4%;
        }
        h1 {
            color: $green;
            text-align: center;
            margin: 2%;
        }
//coding page
        .coding_container {
            background-image: url(../img/green-code.gif);
            background-color: $grey;
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            // height: 51em;
            // width: 100%;
        }
        .coding_container h2 {
            color: $white;
            text-align: center;
            padding: 5px 0 65px;
        }
        .coding_box {
            display: block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 18px 10px;
            background-color: rgb(0 0 0 / 81%);
            box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
            border-radius: 5px;
            position: relative;
        }
        .coding_box h3 {
            color: $white;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 15px 0 5px;
        }
        .coding_box p {
            color: $white;
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
            padding: 20px 15px;
        }
        .code-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 0 auto -15px;
            z-index: 1;
            font-weight: 500;
            position: relative;
            border-radius: 50%;
            color: white;
        }
        .js-icon {
            background-color: rgb(255, 221, 0);
        }
        .html-icon {
            background-color: $darkgreen;
        }
        .example {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 25px;
        }
        // code box elements styling
        pre {
			background-color: #1E1E1E;
			color: #E0E0E0;
			padding: 10px;
			font-size: 16px;
			font-family: Consolas, monospace;
			white-space: pre-wrap;
			overflow-wrap: break-word;
			tab-size: 4;
			-webkit-tab-size: 4;
			-moz-tab-size: 4;
		}
		.keyword {
			color: #569CD6;
			font-weight: bold;
		}
		.comment {
			color: #6A9955;
			font-style: italic;
		}
		.string {
			color: #CE9178;
		}
		.number {
			color: #B5CEA8;
		}
		.operator {
			color: #9CDCFE;
		}
//scs scheme page
        .scs_container {
            background-image: linear-gradient(rgba(0 0 0 / 64%),rgba(0 0 0 / 69%)), url(../img/netmatters-web-development.png);
            background-color: $grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 15em;
            width: 100%;
            position: relative;
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5% 10% 5%;
        }
        .text h1 {
            margin-bottom: 20px;
            position: relative;
            text-align: center;
        }
        .text h1::after {
            content: "";
            display: block;
            height: 3px;
            width: 160px;
            margin: 20px auto 0;
            background-color: $green;
            color: $grey;
            z-index: 1;
        } 
        .text li {
            list-style-type: none;
            font-family: $font-family;
        }
        .treehouse ul {
            padding-inline-start: 0px;
            padding: 0 10%;
        }
        .text a {
            color: $green;
            text-decoration: none;
        }
    }
    @media only screen and (min-width: $break-s) {
//main page portfolio index.html
        .container .soon {
            width: 400px;
            height: auto;
        }
    }

    @media only screen and (min-width: $break-l) {
        margin-left: 200px;
        margin-top: 0px;
//main page hero index.html
        .hero{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
//main page portfolio index.html
            #portfolio {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            .soon {
                width: 350px;
                height: auto;
            }
            .link {
                display: flex;
                flex-direction: row;
                align-content: center;
            }
            .container a {
                margin: auto;
            }
            .info {
                width: 400px;
                height: auto;
            }
            .description {
                padding: 10px 0px;
            }
//about me page
//coding page
//SCS scheme page
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-right: 10%;
            padding-left: 10%;
            }
        }
    @media only screen and (min-width: $break-xl) {
//coding page
        .coding_container {
            height: 65em;
        }
//SCS scheme page
        .text h1, p {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}