//main colors
$white: #ffffff;
$grayblue: #67809f;
$green: #2ecc71;
$darkgreen: #249e57;
$dark: rgb(27, 26, 26);
$grey: rgb(193, 193, 193);
$darkgrey: rgb(112, 112, 112);
$font-family:'Poppins', sans-serif;

//breakpoints
$break-xs: 0px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;
